body {
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 20px;
    margin-right: 0;
    font-weight: bold;
}

.radial .chart-title {
    font-size: 1.5em;
}

.radical .node text {
    font: 1em sans-serif;
    cursor: pointer;
    z-index: 12;
}

.radical .node-internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.radical .node circle {
    cursor: pointer;
    z-index: 11;
}

.radical .node.node-active circle {
    stroke: #333;
    stroke-width: 3px;
    stroke-opacity: 1;
}
.radical .node.node-active text,
.radical .node text:hover {
    font-weight: bold;
}

.radical .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
    z-index: 10;
}

.radical .link.link-active {
    stroke: #333;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.button {
    cursor: pointer;
    z-index: 100;
}

#toggle-button {
    position: relative;
    top: 0;
    left: 20px;
    width: 50px;
    height: 25px;
    padding: 10px 20px;
    font-size: 1.3em;
    text-align: center;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;
}

#toggle-button:hover {
    background: #CCC;
}